*{
    padding: 0;
    margin: 0;
}
body{
    
    background: url("slike/background.jpg") no-repeat fixed center;
    
}

#canvas{
    visibility: hidden;
    position: relative;
    border: 6px solid #2c2923;
    padding: 0;
    border-radius: 10px;
    
    
}
#kanvas{
    position: relative;
    margin: auto;
    text-align: center;
    padding: 0;
    margin-top: 2%;
}
#info{
    position: absolute;
    font-family: mario;
    
    margin-left: 30%;
    
    font-size: 23px;
}
@font-face {
    font-family: mario;
    src: url("fonts/SuperMario256.ttf");
  }
#start{
    
    
   
    width: 400px;
    height:100px;
    text-align: center;
    font-family: mario;
    font-size: 30px;
	margin:5px;
    font-weight: bold;
    background-color: rgba(255,255,255,255);
    text-shadow: -1px -1px black, 1px 1px white;
    color: rgb(49, 49, 49);
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;

}
#buttons{
    
    margin-left: 37%;
    position:absolute;
    z-index: 2;
    margin-top: 30%;
    width: 200px;
}
.swal2-popup {
    
    font-family: mario;
  }